[FORMAT]

indent-string='\t'
indent-after-paren=1

[REPORTS]
output-format=colorized

[BASIC]

function-naming-style=camelCase
method-naming-style=camelCase
module-naming-style=PascalCase
